<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <table>
        {% for day in data %}
        <tr>
            <td class="day-name">
                {{ extra["day_names"][day["date"]] if day["date"] in extra["day_names"] else day["date"] }}
            <td>
            {% for hour in day["hours"] %}
            <td class="weather-hour{% if hour["time"] == extra["hour"] %} weather-this-hour{% endif %}">
                <p>
                    <span class="logo">
                        <img class="weather-logo" src="img/{{ extra["images"][hour["weathercode"]] }}"/>
                    </span>
                </p>
                <p class="weather-desc">
                    {{ extra["names"][hour["weathercode"]] }}
                </p>
                <p>
                    {{ hour["temperature_2m"] | int }}
                    {{ hour["time"][-5:] }}
                </p>
            <td>
            {% endfor %}
        <tr>
        {% endfor %}
    </table> 
  </body>
</html>
