<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <table>
        {% for day in data %}
        <tr>
            {% for hour in day["hours"] %}
            <td class="weather-hour{% if hour["time"] == extra["hour"] %} weather-this-hour{% endif %}">
                {{ hour["temperature_2m"] }}
            <td>
            {% endfor %}
        <tr>
        {% endfor %}
    </table> 
  </body>
</html>
